.gameHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gameGrid {
  display: flex;
  flex-flow: row wrap;
  border: "solid";
  width: 400px;
}

.square {
  background-color: aqua;
  height: 100px;
  width: 100px;
  border: solid;
}
